
<header class="header bg-primary-subtle">
    <nav class="header_menu d-flex justify-content-around align-items-center">
        <a href="#" class="logo d-flex justify-content-center align-items-center">
            <img class="logo_img" src="../img/hospita.png" alt="logo">
            <div class="align-items-center fw-bold lh-1">
                <p class="logo_text fs-4"> <span class="colored">H</span>ealth</p>
            </div>
            
        </a>
        <a class="menu_tel_wrap d-flex justify-content-center align-items-center">
            <img class="tel_img" src="../img/icons8-telephone-64.png" alt="">
            <p href="#" class="menu_tel">Telephone Directory</p>
        </a>
        <div class="menu_info-wrapper">
            <a href="#" class="menu_information">Information for employees</a>
        </div>
        <button type="submit" class="btn btn-primary log_in_button">LogIn</button>
        <button type="submit" class="btn btn-primary create_appoint_button" id="new_appointment_button">Create a new appointment</button>
    </nav>
</header>