@import "./base/reset.scss";
a {
  text-decoration: none;
}
p {
  margin: 0;
}
.header {
  width: 100%;
}
.header_menu {
  min-height: 70px;
}
.colored {
  color: #0d6efd;
}
.logo_text {
  line-height: 1px;
  color: #444b54;
  margin: 0;
  padding-left: 6px;
}
.logo {
  height: 32px;
  cursor: pointer;
}
.logo_img {
  height: 100%;
}
.menu_info-wrapper {
  max-width: 150px;
}
.menu_information {
  font-size: 12px;
}
.menu_tel_wrap {
  cursor: pointer;
}
.menu_tel {
  color: #212529;
  padding: 10px;
  margin: 0;
}
.tel_img {
  height: 16px;
}
.create_appoint_button {
  display: none;
}
.bg-body {
  width: 1200px;
  margin: 0 auto;
  height: calc(100vh - 124px);
}
.conteiner {
  height: 100%;
  padding: 15px;
  margin: 0 auto;
}
.main {
  min-height: calc(100vh - 124px);
}
.main_conteiner {
  min-height: calc(100vh - 124px);
}

.login_form {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 2;
  padding: 30px;
  border-radius: 10px;
}
.display {
  display: flex;
}

.login_bg::after {
  content: "";
  background-color: rgba(147, 135, 135, 0.563);
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 1;
}
.email_wrong {
  color: red;
  opacity: 0;
}
.search_input {
  padding: 0;
  margin: 0;
}
.filter_input {
  gap: 20px;
}
.cards_wrapper {
  padding: 20px;
  display: none;
}
.bg_login {
  background-color: rgba(68, 75, 84, 0.344);
  position: absolute;
  z-index: 2;
}
.modal_cards {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.cards {
  position: relative;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;

  .cards__select .cards__form {
    border: 1px solid rgb(229, 232, 235);
    border-radius: 5px;
    padding-left: 30px;
  }
  .cards__closed {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;

    svg {
      width: 30px;
      height: 30px;
    }
  }
}
.status .urgency {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  min-width: 110px;
}

.cards__select {
  margin: 20px 0 10px;
  font-size: 20px;
  padding: 5px 20px;
  appearance: none;
  border: 1px solid rgb(229, 232, 235);
  border-radius: 10px;
  align-items: center;
}

.cards__select:focus {
  border: 1px solid rgb(109, 167, 254);
  box-shadow: 0px 0px 4px 4px rgb(153, 193, 255);
}
.form {
  padding: 30px;
  .form__content {
    .form__content__item {
      display: flex;
      align-items: start;
    }

    .form__content__item:last-child {
      margin-bottom: 20px;
    }
  }
}

.item {
  display: flex;
  margin-top: 10px;
  flex-direction: column;

  .item__input {
    margin-top: 10px;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    border: 1px solid rgb(229, 232, 235);
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .item__input:focus {
    border: 1px solid rgb(109, 167, 254);
    box-shadow: 0px 0px 4px 4px rgb(153, 193, 255);
  }
}
.specialDoctorWrapper {
  .submit__card {
    margin-top: 20px;
    color: white;
    padding: 10px 30px;
    background-color: rgb(13, 110, 253);
    border-radius: 10px;
  }
}
.card_wrapper {
  padding: 20px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
}
.cards_conteiner {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(400px, calc(50% - 20px)));
}

.button_wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.another_info {
  text-align: left;
  display: none;
}
.show_more {
  cursor: pointer;
}
.delete-button {
  margin-top: 10px;
  color: white;
  padding: 8px 20px;
  background-color: rgb(13, 110, 253);
  border-radius: 10px;
}
